.background-primary-color{
  background-color: #123264;
  color: #E1F9FC;
}

.style-link-nav{
  color: #E1F9FC;
}

.style-link-nav:hover{
  color:#61A9D2
}

.style-button{
  background-color: #123264;
  color: #E1F9FC;
  border-radius: 5px;
  height: 2rem;
  border: none;
}

.style-button:hover{
  background-color: #306597;
}

.style-button:active{
  box-shadow: 0px 0px 2px 2px rgba(163,222,241,0.89);
}

.text-area-custom{
  width: 100%;
  height: 18rem;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  /* border:none; */
  border-radius: 2px;
  background-color: white;
  font-size: 18px;
  resize: none;
}


.background-search-custom{
  background: rgba(97, 169, 210, 0.7);
  border-radius: 16px;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
}


.confirm-order-bg{
  background: rgba(103, 112, 117, 0.3);
  text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#basic-nav-dropdown{
  color:#E1F9FC;
}

#basic-nav-dropdown:hover{
  color:#61A9D2
}


.sidebar-custom{
  width: 280px;
  min-height: 80vh;
  background-color: #306597;
  color: #E1F9FC;
}

.sidebar-custom-hide{
  width: 50px;
  min-height: 80vh;
  background-color: #306597;
  color: #E1F9FC;
}


